.container{
    display: flex;
    flex-direction: column;
    
    
    
    

}

.history{
    height: 100px;
    width: 300px;
    background-color: skyblue;
    
}

.current{
    display: flex;
    height: 100px;
    width: 300px;
    background-color: red;
    text-align: right;
    font-size: 16px;
    align-items: flex-end;
    justify-content: right;
}






.bottomhalf{
    display:flex;
    flex-wrap: wrap;
    background-color: grey;
    width: 300px;
    height: 200px;
    
    
}

button{
    flex: 1 1 25%;
    font-size: 36px;
    
    
   
    
}

